rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /clients/{clientId} {
      // Allow a user to read, update, and delete their own client documents.
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      
      // Allow a user to create a client document if they are the owner.
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }

    match /text_blocks/{textBlockId} {
      // Allow a user to read, update, and delete their own text blocks.
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      
      // Allow a user to create a text block if they are the owner.
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }

    match /doc_templates/{docTemplateId} {
       // Allow a user to read, update, and delete their own document templates.
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      
      // Allow a user to create a document template if they are the owner.
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}
