rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /clients/{clientId} {
      allow read, write: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    match /text_blocks/{textBlockId} {
       allow read, write: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    match /doc_templates/{templateId} {
       allow read, write: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
    
    match /users/{userId} {
      // Allow user creation if the user ID in the document matches the document ID
      allow create: if request.resource.data.uid == userId;
      // Allow read and update only by the user themselves
      allow read, update: if request.auth != null && request.auth.uid == userId;
      // Disallow delete
      allow delete: if false;
    }
  }
}
